Button:visited {
  text-decoration: none;
}
Button {
  text-decoration: none;
  color: white;
}
Button:visited {
  text-decoration: none;
}
Button:hover {
  text-decoration: none;
}
Button:focus {
  text-decoration: none;
}
Button:hover,
Button:active {
  text-decoration: none;
}
