Button:visited {
  text-decoration: none;
}
Button {
  text-decoration: none;
  color: #060b26;
}
Button:visited {
  text-decoration: none;
}
Button:hover {
  text-decoration: none;
}
Button:focus {
  text-decoration: none;
}
Button:hover,
Button:active {
  text-decoration: none;
}

/* auth page */

.wrapper{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.authBox{
    border: 3px solid #060b26;
    border-radius: 5px;
}

.infoBox{
    margin: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoBox input{
    margin-left: 10px;
    margin-right: 10px;
}

.btnBox{
    margin: 10px;
}

.btnBox Button{
    margin: 5px;
    height: 2rem;
}

.infoBox.user_category, 
.infoBox.user_name,
.infoBox.user_id,
.infoBox.user_pw,
.infoBox.careerList,
.infoBox.addCareer{
    justify-content: flex-start;
}

.infoBox .buttonWrapper{
  justify-content: space-between;
}

.boardBtns{
  display:flex;
  justify-content: right;
}

.boardBtns Button{
  margin-right: 40px;
}

.buttonWrapper Button{
  margin: 10px 5px 10px 5px;
}

.user_id Button,
.addCareer Button{
  font-size: 0.8rem;
}

#joinButton{
  margin: 10px;
}

.careerItem Button{
  font-size:0.8rem;
  margin: 5px 0px 0px 5px;
}

.careerList{
  display:flex;
  flex-direction: column;
  padding: 5px;
  border: 3px solid #060b26;
  border-radius: 5px;
}